<form id="edit-form" th:action="@{/book/save(id=${book.id})}" th:object="${book}" th:method="post" action="edit">
    <h5 class="centered">Информация о книге:</h5>
    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="holder-input">title:</label>
        <input id="holder-input" name="title" type="text" th:value="${book.title}" value="John Doe"/>
    </div>

    <div class="row">
        <label for="holder-input">isbn:</label>
        <input id="holder-isbn" name="isbn" type="text" th:value="${book.isbn}" value="isbn"/>
    </div>

    <table>
        <tr th:each="author, stat : ${book.authors}">
            <td th:text="${author.id}" th:field="${author.id}">Onions</td>
            <td th:text="${author.name}" th:field="${author.name}">2.41</td>
            <input type="hidden" th:field="*{authors[__${stat.index}__].id}"
                   th:value="*{authors[__${stat.index}__].id}"/>
            <input type="hidden" th:field="*{authors[__${stat.index}__].name}"
                   th:value="*{authors[__${stat.index}__].name}"/>
        </tr>
    </table>
    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
