@import url(https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300&display=swap);
html {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 1em "JetBrains Mono", Helvetica, sans-serif;
  background-color: #24292e;
  height: 100%;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 350px) {
  body {
    overflow-x: hidden;
  }
}

.container {
  width: auto;
  height: 78%;
  display: flex;
  background: white;
}
@media screen and (max-width: 768px) {
  .container {
    padding-top: 78px;
  }
}

.page {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 10px;
  display: block;
}
@media screen and (max-width: 768px) {
  .page {
    overflow-x: hidden;
  }
}

.head {
  text-align: center;
  background: #24292e;
  min-height: 20px;
  width: 100%;
  display: flex;
  padding: 15px;
  align-items: flex-start;
}
@media screen and (max-width: 350px) {
  .head {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .head {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    z-index: 0;
    position: absolute;
  }
}

.headInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.head_burgerLabel {
  font-size: 0.5rem;
  color: #ecf0f1;
  margin-bottom: 10px;
  display: none;
}
@media screen and (max-width: 350px) {
  .head_burgerLabel {
    display: block;
  }
}

.head__nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-grow: 4;
  flex-shrink: 1;
  align-items: baseline;
  max-width: 900px;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .head__nav {
    flex-direction: column;
    display: none;
  }
}

.head_burger {
  background-color: #2cc06b;
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
}
@media screen and (max-width: 768px) {
  .head_burger {
    display: block;
  }
}

.head__auth {
  flex-direction: row;
  justify-content: right;
  width: 50%;
  display: flex;
  align-content: space-around;
  float: right;
}
@media screen and (max-width: 768px) {
  .head__auth {
    justify-content: left;
    display: none;
  }
}
.head__auth a {
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .head__auth a {
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .head span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: red;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}
.head_burger:checked ~ .headInfo {
  display: none;
}
.head_burger:checked ~ .head__nav,
.head_burger:checked ~ .head__auth {
  flex-direction: column;
  display: contents;
}
.head_burger:checked ~ .head__burger .head__firstSpan {
  transform: rotate(45deg) translate(0, -1px);
}
.head_burger:checked ~ .head__burger .head__mediumSpan {
  opacity: 0;
  background-color: #2cc06b;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.head_burger:checked ~ .head__burger .head__lastSpan {
  transform: rotate(-45deg) translate(0, -2px);
}

.head__link {
  flex-grow: 1;
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.head__logo {
  flex-grow: 1;
  color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .head__logo {
    display: none;
  }
}

.head__search {
  height: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .head__search {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 350px) {
  .head__search {
    margin-left: auto;
    width: 100%;
  }
}

.footer {
  clear: both;
  background: white;
  height: 10%;
  display: flex;
  justify-content: center;
}

.footer__img {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  margin: 1%;
}

picture {
  border-image: none;
}

.main {
  width: 100%;
  overflow: auto;
  flex-direction: column;
  height: 100%;
  display: flex;
}
@media screen and (max-width: 768px) {
  .main {
    overflow-x: hidden;
  }
}

.mainPosts {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 10px;
  justify-content: end;
}

.mainFooter {
  display: flex;
  flex-flow: row;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.mainFooter a {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30px;
  text-decoration: none;
}

.aside {
  margin: 5px;
}
@media screen and (max-width: 420px) {
  .aside {
    display: none;
  }
}

.aside-main {
  padding: 10px;
}

.aside-main_link {
  display: block;
}

.aside-main__label {
  height: 25px;
  background-color: lightgray;
  resize: none;
  color: black;
}

.aside__header {
  padding: 10px;
}
