<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Библиотека</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <meta name='Description' content='Библиотека'/>
    <link th:href='@{/styles/style.css}' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link href="style.css" rel="stylesheet">
</head>
<body>
<div class="head">
    <label class="head_burgerLabel">Персоональный блог</label>
    <input type="checkbox" class="head_burger" id="burger-check"/>

    <img
            src="./images/favicon.ico"
            alt="Библиотека лого"
            width="48"
            height="48"
    />

    <div class="head__nav">
        <a class="head__link" href="./">Главная</a>
        <a class="head__link" th:href="@{/books}">Книги</a>
        <a class="head__link" th:href="@{/book/new}">Новая книга в библиотеку</a>
        <a class="head__link" th:href="@{/genres}">Список жанров</a>
        <a class="head__link" th:href="@{/author}">Список авторов</a>
    </div>


</div>

<div class="container">

    <table class="centered">
        <thead>
        <tr>
            <th hidden="true">ID</th>
            <th>Название книги</th>
            <th>ISBN</th>
        </tr>
        </thead>
        <tbody class="bookTable">

        </tbody>
    </table>
</div>

<script src="books.js"></script>
</body>
</html>
